.show-gist {
  position: absolute;
  top: 0px;
  right: 200px;
  z-index: 2;
  max-width: 700px;
  max-height: 250px;
  word-wrap: break-word;
  box-sizing: border-box;
}
.show-gist {
  text-align: center;
}

[draggable=true] {
	cursor: move;
}

.resizable {
	overflow: scroll;
  resize: both;
  min-width: 300px;
  max-width: 800px;
  max-height: 250px;
  border: 1px black;
}

/* @media (max-width: 1010px) {
  .resizable {
    max-width: calc(50% - 10px);
  }
}

@media (max-width: 1520px) {
  .resizable {
    max-width: calc(33.33333% - 10px);
  }
}

@media (max-width: 2030px) {
  .resizable {
    max-width: calc(25% - 10px);
  }
}

@media (max-width: 2540px) {
  .resizable {
    max-width: calc(20% - 10px);
  }
}

@media (max-width: 3050px) {
  .resizable {
    max-width: calc(16.66667% - 10px);
  }
}

@media (max-width: 3560px) {
  .resizable {
    max-width: calc(14.28571% - 10px);
  }
}

@media (max-width: 4070px) {
  .resizable {
    min-width: calc(12.5% - 10px);
  }
} */
