.gist.selected {
  background-color: #959490;
}
.gist {
  /* width: 100%; */
  flex: 1 0 500px;
  box-sizing: border-box;
  color: #171e42;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.gist .gist-title {
  margin: auto;
  word-wrap: break-word;
  word-break: keep-all;
  width: 65%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.gist .edit-gist {
  width: 10%;
  height: 100%;
  float: left;
}

.gist .delete-gist {
  width: 10%;
  height: 100%;
  float: right;
}

@media (min-width: 1010px) {
  .gist {
    max-width: calc(50% - 10px);
  }
}

@media (min-width: 1520px) {
  .gist {
    max-width: calc(33.33333% - 10px);
  }
}

@media (min-width: 2030px) {
  .gist {
    max-width: calc(25% - 10px);
  }
}

@media (min-width: 2540px) {
  .gist {
    max-width: calc(20% - 10px);
  }
}

@media (min-width: 3050px) {
  .gist {
    max-width: calc(16.66667% - 10px);
  }
}

@media (min-width: 3560px) {
  .gist {
    max-width: calc(14.28571% - 10px);
  }
}

@media (min-width: 4070px) {
  .gist {
    min-width: calc(12.5% - 10px);
  }
}
